# Binaries
stock-service-bin
order-service-bin
analytics-service-bin
stock-service/stock-service
order-service/order-service
analytics-service/analytics-service

# Environment variables
**/.env
.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work.sum



# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
